body{
  margin: 20px 20px 20px 20px;
  background-color: white;
}

h1 {
  background-color:#000000; overflow:hidden;
  display:inline-block;
  padding:10px;
  font-family: 'Oswald', sans-serif;
  font-size:100px;
  color: white;

}

.name{
  text-align: right;

}

.nav, .nav:hover, .nav:visited{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 75px;
}

.direct{
  text-align: right;
}

#about{
  padding-top: 100px;
  padding-bottom: 100px;
}

.fade{
  opacity: 0;
}
h2{
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

#introduction{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: justify;
}

.overlay{
  opacity: 0.5;
  text-align: left;

}

.labelrow{
  position: absolute;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin-left: 1%;
}

.fade{
  padding-top: 20px;
}


@media (min-width:320px), (min-width:480px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */  /* smartphones, Android phones, landscape iPhone */
  .name{
    margin-right: 10px;
  }
  }


/*
.about{
  text-align: left;
  padding: 40px 0px 40px 0px;
}

.introlink{
  color: #ff5d30;
  font-weight: 700;
}

.introlink:hover{
  color: #ff5d30;
}
.lead{
  font-family: 'Lato', sans-serif;

}

.space{
  font-size: 0.3em;
}

.thumbnail{
  border: solid;
  border-width: 2.5px;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}


h3{
  font-family: 'Lato', sans-serif;
}

#cuny{
  line-height: 1;
}
.email,.introlink{
  font-size: 22px;
}

.header{
  text-align: center;
}

.title{
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.entry{
  padding-left: 25px;
  font-family: 'Lato', sans-serif;
}

p{
  line-height: 0.2;
}

.skills{
  line-height: 1.2;
}
*/